@import "tailwindcss";

@theme {
  --color-primary: oklch(52.7% 0.154 150.069);
  --color-gray: #abb2bf;
}
@theme {
  --font-display: "Inter", sans-serif;

  --font-name: "Workbench", sans-serif;
}
button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: oklch(52.7% 0.154 150.069);
}
::-webkit-scrollbar-thumb:hover {
  background-color: oklch(52.935% 0.15121 148.528 / 0.74);
  cursor: grab;
}
